In [1]:
import numpy as np
import pandas as pd
from scipy.io import mmread

X = mmread("./Layer2_BC_Count_head.mtx")
spot_info = pd.read_csv("./Layer2_BC_Count_spots.tsv", sep="\t")

In [2]:
spot_info

                    x       y  total_counts
17.907x4.967   17.907   4.967          1007
18.965x5.003   18.965   5.003          2562
18.954x5.995   18.954   5.995          2599
17.846x5.993   17.846   5.993          1375
20.016x6.019   20.016   6.019          1305
...               ...     ...           ...
23.094x23.975  23.094  23.975           847
24.981x23.964  24.981  23.964           705
21.874x24.852  21.874  24.852           979
23.096x24.93   23.096  24.930           739
24.076x25.951  24.076  25.951           626

[251 rows x 3 columns]

In [3]:
Xdense = np.matrix(X.A)
Xdense

matrix([[1, 7, 5, ..., 4, 2, 1],
        [1, 0, 0, ..., 0, 0, 0],
        [1, 1, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 1, ..., 1, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]])

In [4]:
location = np.matrix(spot_info.values[:, :2])
location[:5, :]

matrix([[17.907,  4.967],
        [18.965,  5.003],
        [18.954,  5.995],
        [17.846,  5.993],
        [20.016,  6.019]])

In [5]:
import spatialcv

res = spatialcv.sparkx(location, Xdense)

res

,projection,gauss1,gauss2,gauss3,gauss4,gauss5,cosine1,cosine2,cosine3,cosine4,cosine5
0,0.000185,0.000528,0.000036,0.000000,0.000041,0.000035,0.065889,0.200518,0.158624,0.896380,0.001915
1,0.412720,0.089906,0.083470,0.140611,0.244388,0.384775,0.009392,0.259019,0.377216,0.480434,0.094691
2,0.000291,0.186770,0.028259,0.016281,0.015755,0.018892,0.276392,0.878782,0.876318,0.962650,0.293621
3,0.202480,0.720035,0.525860,0.486619,0.499105,0.516663,0.707421,0.446441,0.276065,0.576213,0.793616
4,0.125491,0.628088,0.278044,0.244616,0.264063,0.306761,0.391975,0.991171,0.812489,0.664154,0.232985
...,...,...,...,...,...,...,...,...,...,...,...
95,0.001048,0.033247,0.002577,0.002024,0.003454,0.008278,0.511377,0.793232,0.093532,0.271528,0.006798
96,0.206835,0.402634,0.321165,0.321815,0.344469,0.376618,0.295475,0.989837,0.420178,0.942926,0.538245
97,0.001956,0.984282,0.865820,0.814995,0.772863,0.757313,0.192597,0.374659,0.215426,0.838690,0.980204
98,0.009250,0.851178,0.581767,0.411306,0.338604,0.304779,0.121069,0.910597,0.526765,0.339053,0.998642
99,0.001814,0.186961,0.026281,0.013425,0.011458,0.012554,0.057025,0.992569,0.694829,0.969151,0.196588

In [6]:
# from spatialcv.models.sparkx_4array import sparkx
# res = sparkx(location.A, Xdense.A)

# res